.J-table-container{




}
.J-Header{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 54rem) {
    .J-table-container{
width: 100%;
        height: auto;



    }
}