.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-group{
   /*width: 500px;*/
}
@media (max-width: 500px) {
    .carding{
        /*width: 90%;*/
    }
}