.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-menu{
    display: none !important;
}
.navbar{
    display: none !important;
}
.card-group{
   width: 500px;
}