.blog-container{
    background-color:  #E9F9FE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}
.gg{
}
.timer {
     display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-wrapper {
    display: flex;
    justify-content: center;
}
.blog-icon{
    display: flex;
    align-items: center;
    justify-content: center;

}
.blog-Header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
@media (max-width: 500px) {
    #developing{
        width: 90% !important;
    }
    .blog-container{
        height: 450px;
    }
}

#developing{
    width: 50%;
}