 .aboutus-container{
     position: relative;
     height: 800px;
     display: grid;
     background-color: #E9F9FE;
     grid-template-columns: 1fr  1fr 1fr;
     grid-template-rows: 0fr 1fr 1fr;
     grid-template-areas:   " C_Header C_Header C_Header "
                            " C_txt C_txt C_txt "
                            ". C_img .";
 }

 .c-txt{
    display: flex;
     align-items: center;
     justify-content: center;
     padding-right: 20px;
     padding-left: 20px;
     grid-area: C_txt;
 }
 .c-img{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     grid-area: C_img;
 }
.header-for-images{
    display: flex;
    grid-area: C_Header;
   margin-top: 30px;
    align-items: center;
    justify-content: center;

}
 

@media only screen and (max-width: 960px){
    .aboutus-container{
        grid-template-columns: 1fr   ;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: " C_Header    "
                             " C_txt     "
                             "  C_img  ";
    }

}