*  {
    text-decoration: none;
    font-family: "Iranian Sans", sans-serif;
}
.fa:hover {
    text-decoration: none;
    transition: all 0.3s ease-out;
    color: #7AB1C5;
    transition: 250ms;
}
.txt_sup-:hover {
    text-decoration: none;

}
.txt_sup{

    margin-right: 20px;
}
.txt_sup-{

    margin-right: 50px;

    margin-left: 60px;
}
.aboutus-container{
    margin-bottom: 156px;
    width: 100%;
    height: 660px;
    position: relative;
     display: grid;
     background-color: #E9F9FE;
     grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     grid-template-areas:   " . C_Header C_Header C_Header   ."
                            " .  C_txt C_txt  C_txt .  "
                            "C_socials C_socials C_img C_img C_img";

 }
 .nigma-txt{
   color: #2095F3;
 }
.c-socials-container{
    text-decoration: none;
    display: flex;
    background-color: #E9F9FE;
    align-items: center;
    justify-content: center;
    grid-area: C_socials;
}
.c-socials{
    text-decoration: none;
    direction: rtl;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "sup_email  sup_email"
    "sup_insta sup_insta"
    "sup_tweeter sup_insta"
;

}
.sup-email{
    text-decoration: none;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sup_email;
    font-size: 20px;
}
.sup-insta{

    text-decoration: none;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sup_insta;
    font-size: 20px;
}
.sup-tweeter{
    text-decoration: none;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sup_tweeter;
    font-size: 20px;
}
.sup-icons{
    text-decoration: none;

    color: #3B6F80;
    cursor: pointer;
}

 .c-txt{

    margin: 20px;
     display: flex;
     font-size: 20px;
     align-items: center;
     text-align: right;
     color: #3B6F80 ;
     justify-content: center;
     direction: rtl;
     grid-area: C_txt;
 }
 .c-img{
     width: 100%;
     height: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     grid-area: C_img;
 }
.header-for-images{
    margin: 40px;
    text-decoration: none;
    display: flex;
    color: #1C2E3A;
    grid-area: C_Header;
    align-items: center;
    justify-content: center;
}
 

@media only screen and (max-width: 960px){
    .aboutus-container{
    margin-bottom: 10px;
    height: 1000px;
    grid-template-columns: 1fr   ;
    grid-template-rows: .5fr 1fr 1fr 1fr;
    grid-template-areas: " C_Header    "
                             " C_txt  "
                             "C_socials"
                             "  C_img  ";
    }


}