.blog-container{
    background-color:  #E9F9FE;
    display: flex;
   align-items: center;
    justify-content: center;
    height: 600px;
}
.blog-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-Header{

    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-right: 50px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;

}
@media   (max-width: 500px) {
    .blog-container{



    }
}