.sup-container{
    background-color: #E9F9FE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabs{
    position: relative;
    display: flex;
    flex-direction: column;


    margin: 80px 0;
}
.tab-list{
    display: flex;
    padding-bottom: 24px;
}

