.AdminContainer{
display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr .4fr 1fr 1fr;
    grid-template-areas: "card"
"chart"
"form_table"
"joinus_table";
}
.adminpanel-header{
    padding: 10px;
}
.cards{
    padding: 90px;
display: grid;
    align-items: center;
    justify-content: center;
    grid-area: card;
}
.charts{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-area: chart;
 }

 .form_table{
     display: grid;
     align-items: center;
     justify-content: center;
     grid-area: form_table;
 }
 .joinus_table{
     display: grid;
     align-items: center;
     justify-content: center;
     grid-area: joinus_table;
 }

 @media (max-width: 64rem) {
     .AdminContainer{



     }
 }

#nav-menu{
    display: none !important;
}
.navbar{
    display: none !important;
}
.footer-container{
    display: none !important;
}