.AdminContainer{
    background-color: #E9F9FE;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr   1fr 1fr;
    grid-template-areas: "card"

"form_table"
"joinus_table";
}
.alert-in-mobile-verion{
    display: none;
}
.adminpanel-header{
    padding: 10px;
}
.cards{
    padding: 90px;
display: grid;
    align-items: center;
    justify-content: center;
    grid-area: card;
}


 .form_table{
     display: grid;
     align-items: center;
     justify-content: center;
     grid-area: form_table;
 }
 .joinus_table{
     display: grid;
     align-items: center;
     justify-content: center;
     grid-area: joinus_table;
 }

 @media (max-width: 54rem) {
     .AdminContainer{
display: none;


     }
     .alert-in-mobile-verion{
         display: flex;
         align-items: center;
         height: 500px;
         padding: 15px;
         direction: rtl;
         justify-content: center;
     }
 }
