/* ===== NAVBAR SECTION ===== */

.navbar-brand {

  color: white;
  padding: 0 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 3px;
}
.kojaii{
  color: #2095F3;
}

.nav-menu {

  background: transparent;
  padding-top: 0px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  transition: all .4s;
}

@media (max-width:34em) {
  .nav-menu {
    background: #000 !important;
  }
}
#logo-in-navbar{
  margin-right: 110px;
margin-bottom: 20px;
}

.nav-item {
  padding: 0 8px;
}

.menu-item {
   font-family: 'Josefin Sans', sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  color: white;
  padding-top: 28px;

}

@media (max-width: 34em) {
  .menu-item {
    padding: 10px 10px 10px;

  }

}

.navbar-toggler {
  cursor: pointer;
  outline: 0;
}

.ham {
  transition: width 0.3s;
  background: #F9F8F7;
}

.line1, .line3  {
  width: 28px;
  height: 2px;
  margin: 6px;
  transition:  0.4s;

}

.change .line1 {
  transform: rotate(-45deg) translate(-3px, 2px);
}

.change .line3 {
  transform: rotate(45deg) translate(-3px, -2px);
}

.menu-item:hover {
 color: #DBF1F9;
}

.nav-active {
  color: white;
}

.dropdown-item {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}

.costum-navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #3E6078 !important;
  position: fixed;
}

/* ===== END OF NAVBAR SECTION ===== */


/* ===== HERO SECTION ===== */

.hero-section {
  background-image: url("../Images/MP_Backgound.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-hero {

  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1px;
}

.sub-text-hero {
  font-family: 'Dosis', sans-serif;

}

.nav-bottom {
  background: transparent !important;
  padding: 30px;
  position: absolute;
  width: 100%;

  bottom: 10px;
}

.item-bottom {
  padding: 0 20px;
  transition: .2s;
  font-size: 20px;
}

.item-bottom:hover {
  background: transparent;
  transform: translateY(-2px);
}

/* ===== END OF HERO SECTION ===== */