/* ===== NAVBAR SECTION ===== */
.navbar-brand {
  padding-top: 10px;
  padding-bottom: 5px;
}
.navbar-btn-download{
  display: none;
}
.btn{
  height: 50px;
  width:  120px;
}
.logo-nav-mobile{
  display: none;
}
.kojaii{
  color: #2095F3;
}

.nav-menu-black{
  background-color:  #037AAE;
  top: 0;
  padding-top: 0;
  width: 100%;
  position: relative;
  transition: all .4s;
}
.btn-desktop-Bazar:hover{
  background-color: rgba(0,0,0,0.0) !important;
}
.btn-desktop-Bazar{
  width: 160px;
  border: none;
  align-items: center;
  justify-content: center;
 display: flex;
  margin-bottom: 15px;
  height: 50px;
  margin-left: 10px;
  background: url('../Images/Bazar.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.download-btns{
  display: flex;
  flex-direction: row;
}
.btn-desktop-google:hover{
  background-color: rgba(0,0,0,0.0) !important;
}
.btn-desktop-google{
  display: flex;
  align-items: center;
  justify-content: center;
 margin-bottom: 15px;
  height: 50px;
  width: 160px;
  border: none;
  margin-left: 10px;
  background: url('../Images/Bazar.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-menu {
  background: transparent;
  padding-top: 0px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  transition: all .4s;
}


@media (max-width:64em) {

  .text-hero {

    margin-top: 90px;
    margin-bottom: 30px;

  }



}
#logo-in-navbar{
  margin-right: 10px;
  margin-bottom: 15px;
}

.nav-item {
  display: flex;
  flex-direction: row;
  padding: 0 8px;
}



.menu-item {
  float: right;
  font-family: "Iranian Sans", sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  color: white;
  display: flex;
  padding-top: 28px;

}

@media (max-width: 64em) {

  .download-text{
    font-size: 1.9em !important;
  }

  .btn-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 8%;
  }
  .download-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .menu-item {
    padding: 10px 10px 10px;

  }
  .kojaii{
    color: #2095F3;
  }


  .navbar-btn-download{
    display: none !important;
  }
  .logo-nav-mobile{
    display: flex;
  }
  .logo-nav-desktop{
    display: none;
  }


  .navba-ul{
    display: flex;
    direction: rtl;
    flex-direction: column-reverse;
  }
}

.navbar-toggler {

  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  outline: 0;
}

.ham {
  transition: width 0.3s;
  background: white;
}

.line1, .line3  {
  width: 28px;
  height: 2px;
  margin: 6px;
  transition:  0.4s;

}

.change .line1 {
  transform: rotate(-45deg) translate(-3px, 2px);
}

.change .line3 {
  transform: rotate(45deg) translate(-3px, -2px);
}

.menu-item:hover {
 color: #DBF1F9;
}

.nav-active {
  color: yellow;

}

.dropdown-item {
  font-family: "Iranian Sans", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}
/* ===== NavBar background in scroll down===== */
.costum-navbar {
  background-color: #037AAE !important;
  position: fixed;
}

/* ===== END OF NAVBAR SECTION ===== */


/* ===== HERO SECTION ===== */
.hero-section-blank{
  display: none;

}
.hero-section {
  background-image: url("../Images/MP_Backgound.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn--Bazar{
  margin-left: 15px;
}

.btn-hero{
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  padding-right: 115px;
  margin-top: 20px;
  margin-bottom: 8%;
}
.txt-and-btn{
  float: right;
}
.text-hero {
  margin-right: 8%;
  float: right;
  font-family: "Iranian Sans", sans-serif;
  font-size: 40px;
  font-weight: 500;
   letter-spacing: 1px;
}

.nav-bottom {
  background: transparent !important;
  padding: 30px;
  width: 100%;
  bottom: 10px;
}

.item-bottom {
  padding: 0 20px;
  transition: .2s;
  font-size: 20px;
}

.item-bottom:hover {
  background: transparent;
  transform: translateY(-2px);
}

.download-text{
  font-size: 1.9em;
}

/* ===== END OF HERO SECTION ===== */