 

.main-page-bk-container {
    
    background-color: black;
    display: flex;
  
    align-items: center;
    justify-content: center;
    overflow: hidden
}
.MP-image {
  
  max-width: 40%;
  max-height: 100%;
    min-width: 100%;
    min-height: 10%;
  
    width: 100px;
    height: 580px;
    object-fit: fill;
    
}
.come-faster{
     position: absolute;
 margin-left: 55%;
 margin-top: 150px;
 font-size: 9vh;
 display: flex;
 align-items: center;
 justify-content: center;
 color: white;
}
.where-are-u{
  
 position: absolute;
 margin-left: 80%;
 margin-top: 30px;
 font-size: 11vh;
 display: flex;
 align-items: center;
 justify-content: center;
 color: white;
}
 
.downlload-btn-mainpage-1{
      
    position: absolute;
    
    margin-top: 20%;
    margin-left: 15%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    }
   
    
    .downlload-btn-mainpage-2{
        
       position: absolute;
       margin-left: 45%;
       margin-top: 20%;
       
       display: flex;
       align-items: center;
       justify-content: center;
       }
       .downlload-btn-mainpage-1-mobile{
           display: none;
       }
       .downlload-btn-mainpage-2-mobile{
        display: none;
    }
    



 /* Interduce section */ 
  
.interduce-header{
      
    align-items: center;
justify-content: center;
    float: right;
    margin-top: 10%;
    margin-right:22%;
}
.interduce-text{
    
    align-items: center;
justify-content: center;
   
    float: right;
    margin-left: 50%;
    
    margin-top: 15px;
}
 
.animation-container{
    
    align-items: center;
justify-content: center;
    display: flex;
    flex-direction: column;
   
  padding-left: 5%;
    margin-right: 75%;
     margin-bottom: 10%;
   
  
   
}


 /* join us section */ 
.join-us{
  padding: 5%;
  align-items: center;
  justify-content: center;
    background-color: lightblue;
}
 
 .joinus-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    
      
 }
 .joinus-text{
   display: flex;
    align-items: center;
    justify-content: center;
   margin-top: 2%;
   
    
 }
 .join-us-img-container{
  
    display: grid;
     margin-top: 8%;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto ;
    margin-left: 39%;
    
 }


@media only screen and (max-width: 960px){
    /* Image and download section */  
    .where-are-u{
        margin-left: 35%;
        margin-top: 10px;
  
    }
    .come-faster{
        margin-top: 90px;
        margin-left: 23%;
        margin-right: 10%;
    }
    .MP-image{
        height: 435px;
    }
   /* Set text color to red */  
    .downlload-btn-mainpage-1-mobile{
        position : absolute;
        display: block;
    text-align: center;
   
    margin-top:45% ;
    margin-left: 25%;
    border-radius: 4px;
    width: 50%;
     height: 13%;
    font-size: 1.5rem;
    border: none;
    background:url('./Bazar.png');
    background-size: contain ; 
    background-repeat: no-repeat;
    padding: 14px 20px;
    
    transition: all 0.3s ease-out;
        
      
       
       
   
    }
     .downlload-btn-mainpage-2-mobile{
        position : absolute;
        display: block;
    text-align: center;
   border: none;
    margin-top:65% ;
    margin-left: 25%;
   
    width: 49%;
     height: 12.8%;
    font-size: 1.5rem;
   
    background:url('./Bazar.png');
    background-size: contain ; 
    background-repeat: no-repeat;
    padding: 14px 20px;
    
    transition: all 0.3s ease-out;
        
       
       
   
    }
  /* interduceing section*/  
.interduce-header{
    padding-right: 22%;
     margin-top: 5%;
    padding-bottom: 5%;
}
.interduce-text{
    grid-template-rows: auto  ;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
     
    
}

.animation-container{padding-top: 18%;
    padding-left: 47%;
    margin-bottom: 15%;


}
     /* joing us section*/  
 
    .joinus-header{
        margin-left: 32%;
    margin-right: 36%;
    }
    .joinus-text{
       
        margin-top: 4%;
        margin-left: 20%;
        margin-right: 10%;
        
         
      }
      .join-us-img-container{
       
         
          margin-top: 8%;
       
         margin-left: 18%;
         margin-bottom: 7%;
         
      }
}

