

:root {
    --main-radius: 5px;
    --main-padding: 5px;
}
/*  Desktop */
.mainpage-container {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0fr 0fr 0fr;
    grid-template-areas: "main_img" "interduce" "Toturial" "join_us";
    align-items: center;
    justify-content: center;


}

.toturial {
    background-color: cyan;
    grid-area: Toturial;
  
    justify-content: center;
    display: flex;
}

.image_and_download {
    background-image: url('./MP_Backgound.jpg');
     background-repeat: no-repeat;
    grid-area: main_img;
    background-position: center; 
    background-size: cover;
     display: flex;
    align-items: center;
    justify-content: center;


}

.img_and_download-container {
    width: 100%;
    height: 620px;
    display: grid;
 justify-content: center;
     grid-template-columns:  1fr    1fr     ;
    grid-template-rows: .3fr 0.2fr .2fr;
    grid-template-areas: "IAD_header  IAD_header" "IAD_txt   IAD_txt " "btn_bazar   btn_googleplay  ";
}
.blue-kojaii{
    grid-area: IAD_kojaii;
    color: #7ab1ff;
    padding-right: 10px;
}

.come-faster {
     grid-area: IAD_txt;
     font: 35px bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
   
    color: white;
}

.where-are-u {

    font: 45px bold;
    grid-area: IAD_header;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    color: white;
}

.downlload-btn-mainpage-1 {

    grid-area: btn_bazar;
    display: flex;
    align-items: center;
    justify-content: center;
}


.downlload-btn-mainpage-2 {


    grid-area: btn_googleplay;

    display: flex;
    align-items: center;
    justify-content: center;
}

.downlload-btn-mainpage-1-mobile {
    display: none;
}

.downlload-btn-mainpage-2-mobile {
    display: none;
}


/* Interduce section */
.interduce {
    background-color: darkgray;
    grid-area: interduce;
}

.interduce-container {
    width: 100%;
    height: 620px;
    display: grid;
    justify-content: center;
    grid-template-columns: .4fr .4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img header" "text text";
}

.interduce-header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;

}

.interduce-text {
    grid-area: text;
    display: flex;

    align-items: center;
    justify-content: center;

}


.animation-container {
    grid-area: img;
    align-items: center;
    justify-content: center;
    display: flex;


}


/* join us section */
.join-us {
    align-items: center;
    justify-content: center;
    grid-area: join_us;
}

.joingus-container {
    width: 100%;
    height: 550px;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "joinus_header  joingus_img" "joinus_txt  joingus_img " "joingus_btn  joingus_img  ";
}

.joinus-header {
    grid-area: joinus_header;
    display: flex;
    align-items: center;
    justify-content: center;


}

.joinus-text {
    grid-area: joinus_txt;
    display: flex;
    align-items: center;
    justify-content: center;


}

.join-us-img-container {
    font-family: "Iranian Sans" !important;
    grid-area: joingus_img;
    display: flex;
    align-items: center;
    justify-content: center;

}

.join-us-form{
    direction: rtl;
    align-items: center;
    justify-content: center;
}

.join-us-btn{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}


.join-us-param{
    border: 1px solid #343a40;
    border-radius: 5px;
    margin-left: 20px;
    padding: 10px;
}

/*  About us section */
.About-us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-area: "AboutUs";
    background-color: coral;
}

.info {


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "text_ text_ text_";
    align-items: center;
    justify-content: center;


}

.aboutus-txt {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}



/*  Tablet */


@media only screen and (max-width: 900px) {
    .mainpage-container {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0fr 0fr 0fr;
        grid-template-areas: "main_img" "interduce" "Toturial" "join_us";
    }

    .toturial {

        grid-area: Toturial;
        width: "100%",;
        height: "600px";
        justify-content: center;
        align-items: center;

    }

    

    /* Image and download section */
    .img_and_download-container {
        width: 100%;
  
      height: 590px;
        display: grid;
       
        justify-content: center;
        grid-template-columns: .5fr      ;
        grid-template-rows: .2fr 0.2fr 0.1fr 0fr ;
        grid-template-areas: "IAD_header    " "  IAD_txt    " "btn_bazar   "   "  btn_googleplay ";
    }
    
     
  

    /* Set text color to red */
    .downlload-btn-mainpage-1-mobile {
       
        display: block;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        margin-bottom: 30px;
        border: none;
        background: url('./Bazar.png');
        background-size: contain;
        background-repeat: no-repeat;
       

        transition: all 0.3s ease-out;


    }
    .where-are-u{
        font-size: 50px;
    }
    .come-faster{
        font-size: 30px;
    
    }
 
    .downlload-btn-mainpage-2-mobile {
        align-items: center;
        justify-content: center;
        display: block;
        text-align: center;
        margin-bottom: 30px;
        border: none;
        background: url('./Bazar.png');
        background-size: contain;
        background-repeat: no-repeat;
        transition: all 0.3s ease-out;

    }

    /* interduceing section*/
    .interduce-container {
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 660px;
        display: grid;
        grid-template-columns: .8fr  ;
        grid-template-rows: 0.1fr .4fr .4fr;
        grid-template-areas: " header" "  text" "img";
    }
    
.interduce-header{
    margin-top: 60px;
}
    .interduce-text {
        margin-left: 80px;
        margin-right: 80px;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    

    /* joing us section*/
    .joingus-container {
        width: 100%;
        height: 660px;
        display: grid;
         justify-content: center;
        grid-template-columns: 1fr  ;
        grid-template-rows: .4fr .4fr .4fr;
        grid-template-areas: "joinus_header   " "joinus_txt    "   " joingus_img  ";
    }
     
}






/*  Phone */
@media only screen and (max-width: 500px) {
    .join-us-image{
        width: 300px;
    }
    .joinus-text {
        text-align: center !important;
    }
    .join-us-param{
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .mainpage-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0fr .8fr .8fr 0.8fr;
        grid-template-areas: "main_img" "interduce" "Toturial" "join_us";
    }

    .toturial {

        grid-area: Toturial;
        width: 100%;
        height: 660px;
        justify-content: center;
       

    }

   
    /* Image and download section */
    .img_and_download-container {
     width: 100%; 
     height: 540px;
     display: grid;
     justify-content: center; 
     grid-template-columns: 1fr       ;
     grid-template-rows: .3fr 0.2fr 0.2fr 0fr ;
     grid-template-areas: "IAD_header " "    IAD_txt " "btn_bazar"   "btn_googleplay  ";
    }
   

  

    /* Set text color to red */
    .downlload-btn-mainpage-1-mobile { 
        display: block;
        border-radius: 4px;  
        margin-bottom: 40px;
        margin-left: 55px;
        border: none;
        background: url('./Bazar.png');
        background-size: contain;
        background-repeat: no-repeat;
        transition: all 0.3s ease-out;
    }
    .where-are-u{
        font-size: 40px;
    }
 
.come-faster{
 font-size: 30px;
 margin-bottom: 0px;
     
    
}
    .downlload-btn-mainpage-2-mobile {
        align-items: center;
        justify-content: center;
        display: block;
        text-align: center;
        border: none;
        margin-bottom: 40px;
        
       margin-left: 55px;

        background: url('./Bazar.png');
        background-size: contain;
        background-repeat: no-repeat;
        

        transition: all 0.3s ease-out;


    }

    /* interduceing section*/
    .interduce-container {
        width: 100%;
        height: 660px;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr  ;
        grid-template-rows: .2fr .3fr .4fr;
        grid-template-areas: " header" "  text" "img";
    }
     

    .interduce-text {
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        justify-content: center;
        align-items: center;


    }

  

    /* joing us section*/
    .joingus-container {
        width: 100%;
        height: 630px;
        display: grid;
        grid-template-columns: 1fr  ;
        justify-content: center;
        grid-template-rows: .4fr .4fr .4fr;
        grid-template-areas:    " joingus_img  "  "joinus_header   " "joinus_txt    ";
    }
    .joinus-text{
        margin-left: 50px;
        margin-right: 50px;
    }
    
}


@media only screen and (max-width: 300px) {
.where-are-u{
    font-size: 35px;
}

.downlload-btn-mainpage-2-mobile {
    
    
   margin-left: 25px;
 
}
.downlload-btn-mainpage-1-mobile {
    
  
   
  margin-left: 25px;

  


}





}
