.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px;
  }
  
  .each-slide span {
    
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }

.slide-images{
    background-image: url('./1.jpg');
    background-repeat: no-repeat;
    padding-left: 500px;
    max-width: 100%;
    height: auto;
    
    align-content: center;
    justify-content: center;
}
 