.footer-container {
    background-color: #3E6078;
    padding-top: 2rem;
    padding-bottom: 0rem;
    justify-content: center;

    align-items: flex-end;
}


.footer-links {


    display: flex;
    justify-content: center;
}

.footer-logo {
    text-align: center;
    grid-area: text;
}


/* Social Icons */
.social-icon-link {

    justify-content: center;
    color: #fff;
    font-size: 24px;
}


.social-media-wrap {

    display: grid;

    grid-template-columns: .5fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "text " "rights" "icons";
    grid-gap: 8px;
    justify-content: center;
    align-items: center;


}

.social-icons {
    justify-self: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
   margin-left: 250px;


}

.social-logo {
    font-family: "Iranian Sans";
    color: #FFFFFF;
    justify-self: start;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    flex-direction: column;


}

.website-rights {

    grid-area: rights;

    color: #fff;
    justify-self: start;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

    display: flex;
    flex-direction: row;


}

@media screen and (max-width: 890px) {
    

    .footer-links {
        justify-content: center;
        align-items: center;
    }


    .social-icons {
 margin-right: 245px;



    }
    .footer-link-wrapper {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .social-media-wrap {
        grid-gap: 2rem;

        justify-content: center;
        align-items: center;

    }
}

.social-icon-link:hover {
    transition: all 0.3s ease-out;

    color: #7AB1C5;
    transition: 250ms;
}

@media screen and (max-width: 400px) {

    .social-icons {

        margin-left: 10px;
margin-right: 10px;

    }
}
  