.footer-container {
    background-color: #3E6078;
    padding-top: 2rem;
    height: 210px;
    justify-content: center;
    padding-bottom: 90px;
    align-items: flex-end;
}


.footer-links {


    display: flex;
    justify-content: center;
}

.footer-logo {
    text-align: center;
    grid-area: text;
}


/* Social Icons */
.social-icon-link {

    justify-content: center;
    color: #fff;
    font-size: 24px;
}


.social-media-wrap {

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "text "   "icons";
    grid-gap: 5px;
    justify-content: center;
    align-items: center;


}

.social-icons {
    text-align: center;
    align-items: center;



}
.social-icons a{
    padding-right: 15px;

}

.social-logo {
    color: #FFFFFF;
    justify-self: start;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    flex-direction: column;


}


@media screen and (max-width: 890px) {


    .footer-links {
        justify-content: center;
        align-items: center;
    }


    .social-icons {



    }
    .footer-link-wrapper {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .social-media-wrap {
        grid-gap: 2rem;

        justify-content: center;
        align-items: center;

    }
}

.social-icon-link:hover {
    transition: all 0.3s ease-out;

    color: #7AB1C5;
    transition: 250ms;
}

@media screen and (max-width: 400px) {

    .social-icons {

        margin-left: 10px;
        margin-right: 10px;

    }
}
  