.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
.cards-headers{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

@media (max-width:54rem) {
    .cards-self{

        margin-bottom: 20px;

    }
}