p,span{
    font-family: "IRAN Sans" !important;

}
button,label {
    font-family: "IRAN Sans" !important;

}
.menu-item{
    font-family: "IRAN Sans" !important;

}
h1,h2{
    font-family: "IRAN Sans" !important;

}
.deactivenavbar{
    display: none;
}
body::-webkit-scrollbar {
    width: 12px;
    border-radius: 15px;  /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background:  #E9F9FE;
    border-radius: 15px;
    /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: #3B6F80;    /* color of the scroll thumb */
    border-radius: 15px;       /* roundness of the scroll thumb */
    border: 3px solid #3B6F80;  /* creates padding around scroll thumb */
}

