p,span{
    font-family: "IRAN Sans" !important;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */

}
img{
     -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}
button,label {
    font-family: "IRAN Sans" !important;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */

}
.menu-item{
    font-family: "IRAN Sans" !important;

}
h1,h2,h3{
    font-family: "IRAN Sans" !important;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */

}
.deactivenavbar{
    display: none;
}
body::-webkit-scrollbar {
    width: 12px;
    border-radius: 15px;  /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background:  #E9F9FE;
    border-radius: 15px;
    /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: #3B6F80;    /* color of the scroll thumb */
    border-radius: 15px;       /* roundness of the scroll thumb */
    border: 3px solid #3B6F80;  /* creates padding around scroll thumb */
}

