* {
    font-family: "Iranian Sans";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.nav_bar{
    font: 15px bold;
    background-color: #7ab1ff;
    direction: rtl;
    padding-right: 70px!important;
    padding-left: 70px!important;
}

.navbar-Item{
    text-align: right;
}

.item{
    
    padding-left: 30px!important;
   
}

.download{
    font-family: "Iranian Sans" !important;
    font: 15px bold;
    border: 1px solid !important;
    border-radius: 5px !important;
}

@media screen and (max-width: 1000px) {
    .nav_bar{
        padding-right: 10px!important;
        padding-left: 20px!important;
    }
}